.logo.lg-3 {
    width: 180px !important;
    height: 50px !important;
}

.theme-main-menu{
    padding: 10px 5% 10px !important;
}

.logo-header {
    margin-bottom: 66px !important;
}

.theme-menu-two #mega-menu-holder {
    margin-left: 0% !important;
}

.rogan-hero-section.rogan-hero-three .shape-one{
    
}