.logo.lg-3 {
  width: 120px !important;
  height: 50px !important;
}

.theme-main-menu {
  padding: 10px 5% 10px !important;
}

.logo-header {
  margin-bottom: 66px !important;
}

.theme-menu-two #mega-menu-holder {
  margin-left: 0% !important;
}

.rogan-hero-section.rogan-hero-three .shape-one {
}

#ctf .ctf-item {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 40px 0px rgb(60 60 60 / 5%);
  margin: unset;
  padding: 45px 24px 55px;
  position: relative;
  height: 317px;
}
#ctf {
  margin-left: unset !important;
}

.ctf-carousel .ctf-owl-item {
  padding: 45px 15px 55px;
}

.ctf-carousel .ctf-owl-dots {
  display: none;
}

@media (max-width: 575px) {
  /* // Align text to center. */
  .text-xs-center {
    text-align: center;
  }
  .xs-hide {
    display: none;
  }
}

/* Shapes */

.rogan-hero-section.rogan-hero-three .shape-one {
  background: linear-gradient(134deg, #e0cc82, #e8d494);
}

.rogan-hero-section.rogan-hero-three .shape-two {
  background: linear-gradient(
    321deg,
    rgba(224, 133, 133, 1),
    rgba(229, 135, 124, 0.56)
  );
}

.about-us-block-two .order-lg-last .box-shape {
  right: -105px;
  left: unset;
}

.about-us-block-two .order-lg-last .dot-shape {
  right: -145px;
  left: unset;
}

.why-choose-us {
  background: linear-gradient(
    140deg,
    rgb(184, 177, 162) 0%,
    rgb(199, 185, 144) 100%
  );
}

.why-choose-us .text-wrapper {
  max-width: 550px;
}

.testimonial-section-classic .inner-container {
  width: 100%;
}

.about-us-block-two .box-shape {
  background: rgb(218, 194, 108);
}
.line {
  border-top: 1px solid rgb(247 243 229);
  padding-top: 48px;
  margin-top: 55px;
  box-shadow: inset 0 10px 10px -10px rgb(243 233 199 / 50%);
}

.our-team .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0px;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.team-minimal .single-team-member .img-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0);
}

.about-us-block-one .inner-wrapper .path-shape-holder {
  z-index: unset;
}

#menu-item-4947 {
  margin-top: 8px !important;
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: bold;
}
